/*! Preloader start */
.preloader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10000;
}

.preloader .center {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

.preloader .circle-one {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.5s infinite;
}

@keyframes object-one {
    75% {
        transform: scale(0);
    }
}

.preloader .circle-two {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.4s infinite;
}

@keyframes object-two {
    75% {
        transform: scale(0);
    }
}

.preloader .circle-three {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.3s infinite;
}

@keyframes object-three {
    75% {
        transform: scale(0);
    }
}

.mypage {
    display: none;
}
/*! Preloader end */

/*! Switch start */
.switch {
    background-color: #f8f8f8;
    width: 100%;
    height: 120px;
    font-size: 14px;
}

/*! Switch end */

/*! Information start */
.information{
    width: 100%;
    height: auto;
}

.information .card .card-body .icon i {
    font-size: 60px;
    color: #e52e06;
}

.information .difference {
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
    background-color: #ffffff;
}

.information .card {
    transition: .4s;
}

.information .card:hover {
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
    background-color: #ffffff;
}

/*! Information end */

/*! Team start */
.team{
    width: 100%;
    height: auto;
}

.team .card .img {
    height: 288px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .7s;
}

.team .card:hover .img {
    background-size: 110%;
}

.team .card .one {
    background-image: url("https://drou-electronics-store.myshopify.com/cdn/shop/files/1_480x480.jpg?v=1674276674");
}

.team .card .two {
    background-image: url("https://drou-electronics-store.myshopify.com/cdn/shop/files/2_480x480.jpg?v=1674276675");
}

.team .card .three {
    background-image: url("https://drou-electronics-store.myshopify.com/cdn/shop/files/3_480x480.jpg?v=1674276675");
}

.team .card .four {
    background-image: url("https://drou-electronics-store.myshopify.com/cdn/shop/files/1_480x480.jpg?v=1674276674");
}

.team .card .social-network {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 115px;
    gap: 20px;
    opacity: 0;
    transition: .7s;
}

.team .card:hover .social-network {
    opacity: 1;
}

.team .card .card-heading .social-network i {
    width: 40px;
    height: 40px;
    color: #696969;
    background-color: #ffffff;
    border-radius: 50%;
    transition: .3s;
}

.team .card .card-heading .social-network i:hover {
    background-color: #e52e06;
    color: #fff;
}

/*! Team end */

/*! ContactUs start */
.contactus{
    background-color: #f7f9fb;
    padding: 50px 0;
}

.contactus .form{
    background-color: #ffffff;
    box-shadow: 0 0 10px #0000001a;
}

.contactus .form input{
    width: 100%;
    height: 48px;
    background-color: #f8f8f8;
    border: none;
}

.contactus .form textarea{
    width: 100%;
    background-color: #f8f8f8;
    border: none;
}

.contactus .info{
    padding: 100px 10px;
}
/*! Contact-email end */

/*! Clients start */
.clients{
    margin-bottom: 100px;
}
.clients .border{
    background-color: #f8f8f8;
    padding: 56px 32px 55px;

}



/*! Clients end */

