.login .login-form form input{
    width: 300px;
    height: 35px;
    background-color: #ebebeb;
    border:1px solid #ebebeb;
    outline: none;
}


.white{
    background-color: #fff !important;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 1;
}

.custom-alert p {
    margin: 0;
}

