/*! Switch start  */
.switch {
    background-color: #f8f8f8;
    width: 100%;
    height: 120px;
    font-size: 14px;
}
/*! Switch end  */

/*! Login start  */
.login .login-form form input{
    width: 100%;
    height: 41px;
    border:1px solid #ebebeb;
    background-color: #ebebeb;
    outline: none;
}

.white{
    background-color: #fff !important;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 1;
}

.custom-alert p {
    margin: 0;
}
/*! Login end  */
