/*! Switch start  */
.switch {
    background-color: #f8f8f8;
    width: 100%;
    height: 120px;
    font-size: 14px;
}
/*! Switch end  */

/*! Login start  */
.login .login-form form input{
    width: 100%;
    height: 41px;
    border:1px solid #ebebeb;
    background-color: #ebebeb;
    outline: none;
}
/*! Login end  */
