/*! Preloader start */
.preloader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10000;
}

.preloader .center {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

.preloader .circle-one {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.5s infinite;
}

@keyframes object-one {
    75% {
        transform: scale(0);
    }
}

.preloader .circle-two {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.4s infinite;
}

@keyframes object-two {
    75% {
        transform: scale(0);
    }
}

.preloader .circle-three {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e52e06;
    animation: object-one 1.3s infinite;
}

@keyframes object-three {
    75% {
        transform: scale(0);
    }
}

.mypage {
    display: none;
}

/*! Preloader end */

/*! Switch start  */
.switch {
    background-color: #f8f8f8;
    width: 100%;
    height: 120px;
    font-size: 14px;
}
/*! Switch end  */

/*! Login start  */
.login .login-form{
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 11px #0000001a;
}

.login .login-form form input{
    width: 285px;
    height: 35px;
    background-color: #ebebeb;
    border:1px solid #ebebeb;
    outline: none;
}

.login .login-form .details a{
    font-size: 14px;
    transition: .6s;
}
.login .login-form .details a:hover{
    color: #e52e06 !important;
}

.login .login-form .details button{
    background-color: #e52e06;
    font-size: 13px;
    padding: 15px 30px 15px;
    transition: .3s;
}
.login .login-form .details button:hover{
    background-color: #333;
}

.login .login-form .login-footer a{
    opacity: .8;
    font-size: 15px;
    transition: .6s;
}
.login .login-form .login-footer a:hover{
    color: #e52e06 !important;
}

.white{
    background-color: #fff !important;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 1;
}

.custom-alert p {
    margin: 0;
}
/*! Login end  */


.error{
    background-color: #e52e06;
}

.success{
    background-color: green;
}



